<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nhilo" type="NHiLo.Common.Legacy.KeyGeneratorConfig, NHiLo"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DB1" connectionString="test" providerName="myRepository"/>
  </connectionStrings>
  <nhilo>
    <hiloKeyGenerator connectionStringId="DB1" createHiLoStructureIfNotExists="true" defaultMaxLo="10" storageType="Sequence" objectPrefix="SQXX_">
      <entities>
        <add name="xpto1" maxLo="100" />
        <add name="xpto2" maxLo="66" />
      </entities>
    </hiloKeyGenerator>
  </nhilo>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>