<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nhilo" type="NHiLo.Common.KeyGeneratorConfig, NHiLo"/>
  </configSections>
  <connectionStrings>
    <add name="DB1" connectionString="Server=.;Database=APTO;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <nhilo>
    <hiloKeyGenerator connectionStringId="DB1" createHiLoStructureIfNotExists="true" defaultMaxLo="10" storageType="Sequence" objectPrefix="SQXX_">
      <entities>
        <add name="xpto1" maxLo="100"/>
        <add name="xpto2" maxLo="66"/>
        <!--<add name="myEntity" maxLo="2" />-->
      </entities>
    </hiloKeyGenerator>
  </nhilo>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
